<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litt.nic.Dao.aboutmeMapper" >
  <resultMap id="BaseResultMap" type="com.litt.nic.pojo.aboutme" >
    <result column="aboutme_introduce" property="aboutmeIntroduce" jdbcType="VARCHAR" />
    <result column="aboutme_name" property="aboutmeName" jdbcType="VARCHAR" />
    <result column="aboutme_telephone" property="aboutmeTelephone" jdbcType="VARCHAR" />
    <result column="aboutme_id" property="aboutmeId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.litt.nic.pojo.aboutme" >
    insert into nic_aboutme (aboutme_introduce, aboutme_name, aboutme_telephone, 
      aboutme_id)
    values (#{aboutmeIntroduce,jdbcType=VARCHAR}, #{aboutmeName,jdbcType=VARCHAR}, #{aboutmeTelephone,jdbcType=VARCHAR}, 
      #{aboutmeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.litt.nic.pojo.aboutme" >
    insert into nic_aboutme
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aboutmeIntroduce != null" >
        aboutme_introduce,
      </if>
      <if test="aboutmeName != null" >
        aboutme_name,
      </if>
      <if test="aboutmeTelephone != null" >
        aboutme_telephone,
      </if>
      <if test="aboutmeId != null" >
        aboutme_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aboutmeIntroduce != null" >
        #{aboutmeIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="aboutmeName != null" >
        #{aboutmeName,jdbcType=VARCHAR},
      </if>
      <if test="aboutmeTelephone != null" >
        #{aboutmeTelephone,jdbcType=VARCHAR},
      </if>
      <if test="aboutmeId != null" >
        #{aboutmeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>