<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litt.nic.Dao.maintenanceMapper" >
  <resultMap id="BaseResultMap" type="com.litt.nic.pojo.maintenance" >
    <id column="maintenance_id" property="maintenanceId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="maintenance_department" property="maintenanceDepartment" jdbcType="VARCHAR" />
    <result column="maintenance_devicename" property="maintenanceDevicename" jdbcType="VARCHAR" />
    <result column="maintenance_location" property="maintenanceLocation" jdbcType="VARCHAR" />
    <result column="maintenance_describe" property="maintenanceDescribe" jdbcType="VARCHAR" />
    <result column="maintenance_picture" property="maintenancePicture" jdbcType="VARCHAR" />
    <result column="maintenance_feedback" property="maintenanceFeedback" jdbcType="VARCHAR" />
    <result column="maintenance_uptime" property="maintenanceUptime" jdbcType="TIMESTAMP" />
    <result column="maintenance_endtime" property="maintenanceEndtime" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="INTEGER" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    maintenance_id, user_id, maintenance_department, maintenance_devicename, maintenance_location, 
    maintenance_describe, maintenance_picture, maintenance_feedback, maintenance_uptime, 
    maintenance_endtime, status_id, manager_id
  </sql>
  <select id="selectAllMT" resultMap="BaseResultMap">
    select * from nic_maintenance 
  </select>
  <select id="findAllUnfinished" resultMap="BaseResultMap">
    select * from nic_maintenance 
    where status_id=1
  </select>
  <select id="selectMTMultiInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
  select * from nic_maintenance  
  <where>
     <if test="key=='department'">
     maintenance_department like CONCAT('%',#{val},'%')
     </if>
     <if test="key=='address'">
     maintenance_location like CONCAT('%',#{val},'%')
     </if>
     <if test="key=='uptime'">
      maintenance_uptime like CONCAT('%',#{val},'%')
     </if>
     <if test="key=='endtime'">
      maintenance_endtime like CONCAT('%',#{val},'%')
     </if>
   <!--   <if test="key='keyword'">
     maintenance_department like CONCAT('%',#{val},'%') or maintenance_equipment like CONCAT('%',#{val},'%') or maintenance_location like CONCAT('%',#{val},'%') 
     or maintenance_describe like CONCAT('%',#{val},'%') or maintenance_feedback like CONCAT('%',#{val},'%') or maintenance_uptime like CONCAT('%',#{val},'%') 
     or maintenance_endtime like CONCAT('%',#{val},'%')  
      
     </if> -->
    </where>
  </select>
  <select id="selectfinish" resultMap="BaseResultMap" parameterType="java.lang.String">
  select * from nic_maintenance  
  <where>
      maintenance_endtime like CONCAT('%',#{val},'%') and status_id=3
     </where>
     </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nic_maintenance
    where maintenance_id = #{maintenanceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nic_maintenance
    where maintenance_id = #{maintenanceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.litt.nic.pojo.maintenance" >
    insert into nic_maintenance (maintenance_id, user_id, maintenance_department, 
      maintenance_devicename, maintenance_location, 
      maintenance_describe, maintenance_picture, 
      maintenance_feedback, maintenance_uptime, 
      maintenance_endtime, status_id, manager_id
      )
    values (#{maintenanceId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{maintenanceDepartment,jdbcType=VARCHAR}, 
      #{maintenanceDevicename,jdbcType=VARCHAR}, #{maintenanceLocation,jdbcType=VARCHAR}, 
      #{maintenanceDescribe,jdbcType=VARCHAR}, #{maintenancePicture,jdbcType=VARCHAR}, 
      #{maintenanceFeedback,jdbcType=VARCHAR}, #{maintenanceUptime,jdbcType=TIMESTAMP}, 
      #{maintenanceEndtime,jdbcType=TIMESTAMP}, #{statusId,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.litt.nic.pojo.maintenance" >
    insert into nic_maintenance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="maintenanceId != null" >
        maintenance_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="maintenanceDepartment != null" >
        maintenance_department,
      </if>
      <if test="maintenanceDevicename != null" >
        maintenance_devicename,
      </if>
      <if test="maintenanceLocation != null" >
        maintenance_location,
      </if>
      <if test="maintenanceDescribe != null" >
        maintenance_describe,
      </if>
      <if test="maintenancePicture != null" >
        maintenance_picture,
      </if>
      <if test="maintenanceFeedback != null" >
        maintenance_feedback,
      </if>
      <if test="maintenanceUptime != null" >
        maintenance_uptime,
      </if>
      <if test="maintenanceEndtime != null" >
        maintenance_endtime,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="maintenanceId != null" >
        #{maintenanceId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="maintenanceDepartment != null" >
        #{maintenanceDepartment,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceDevicename != null" >
        #{maintenanceDevicename,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceLocation != null" >
        #{maintenanceLocation,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceDescribe != null" >
        #{maintenanceDescribe,jdbcType=VARCHAR},
      </if>
      <if test="maintenancePicture != null" >
        #{maintenancePicture,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceFeedback != null" >
        #{maintenanceFeedback,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceUptime != null" >
        #{maintenanceUptime,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenanceEndtime != null" >
        #{maintenanceEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=INTEGER},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.litt.nic.pojo.maintenance" >
    update nic_maintenance
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="maintenanceDepartment != null" >
        maintenance_department = #{maintenanceDepartment,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceDevicename != null" >
        maintenance_devicename = #{maintenanceDevicename,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceLocation != null" >
        maintenance_location = #{maintenanceLocation,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceDescribe != null" >
        maintenance_describe = #{maintenanceDescribe,jdbcType=VARCHAR},
      </if>
      <if test="maintenancePicture != null" >
        maintenance_picture = #{maintenancePicture,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceFeedback != null" >
        maintenance_feedback = #{maintenanceFeedback,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceUptime != null" >
        maintenance_uptime = #{maintenanceUptime,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenanceEndtime != null" >
        maintenance_endtime = #{maintenanceEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=INTEGER},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
    </set>
    where maintenance_id = #{maintenanceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.litt.nic.pojo.maintenance" >
    update nic_maintenance
    set user_id = #{userId,jdbcType=INTEGER},
      maintenance_department = #{maintenanceDepartment,jdbcType=VARCHAR},
      maintenance_devicename = #{maintenanceDevicename,jdbcType=VARCHAR},
      maintenance_location = #{maintenanceLocation,jdbcType=VARCHAR},
      maintenance_describe = #{maintenanceDescribe,jdbcType=VARCHAR},
      maintenance_picture = #{maintenancePicture,jdbcType=VARCHAR},
      maintenance_feedback = #{maintenanceFeedback,jdbcType=VARCHAR},
      maintenance_uptime = #{maintenanceUptime,jdbcType=TIMESTAMP},
      maintenance_endtime = #{maintenanceEndtime,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=INTEGER},
      manager_id = #{managerId,jdbcType=INTEGER}
    where maintenance_id = #{maintenanceId,jdbcType=INTEGER}
  </update>
   <update id="updateStatus_id" parameterType="java.lang.Integer" >
	update nic_maintenance
	set status_id = #{1}
	where maintenance_id = #{0}
  </update>
   <update id="updateManager_id" parameterType="java.lang.Integer" >
	update nic_maintenance
	set manager_id = #{1}
	where maintenance_id = #{0}
  </update>
  <update id="updateFeedback" >
	update nic_maintenance
	set maintenance_feedback = #{1}
	where maintenance_id = #{0}
  </update>
</mapper>