<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litt.nic.Dao.userMapper" >
  <resultMap id="BaseResultMap" type="com.litt.nic.pojo.user" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_telephone" property="userTelephone" jdbcType="VARCHAR" />
    <result column="user_department" property="userDepartment" jdbcType="VARCHAR" />
    <result column="user_openid" property="userOpenid" jdbcType="VARCHAR" />
    <result column="user_subscribe" property="userSubscribe" jdbcType="INTEGER" />
    <result column="user_subscribeTime" property="userSubscribetime" jdbcType="TIMESTAMP" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_country" property="userCountry" jdbcType="VARCHAR" />
    <result column="user_province" property="userProvince" jdbcType="VARCHAR" />
    <result column="user_city" property="userCity" jdbcType="VARCHAR" />
    <result column="user_language" property="userLanguage" jdbcType="VARCHAR" />
    <result column="user_headImgUrl" property="userHeadimgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_telephone, user_department, user_openid, user_subscribe, 
    user_subscribeTime, user_nickname, user_sex, user_country, user_province, user_city, 
    user_language, user_headImgUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nic_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nic_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.litt.nic.pojo.user" >
    insert into nic_user (user_id, user_name, user_telephone, 
      user_department, user_openid, user_subscribe, 
      user_subscribeTime, user_nickname, user_sex, 
      user_country, user_province, user_city, 
      user_language, user_headImgUrl)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userTelephone,jdbcType=VARCHAR}, 
      #{userDepartment,jdbcType=VARCHAR}, #{userOpenid,jdbcType=VARCHAR}, #{userSubscribe,jdbcType=INTEGER}, 
      #{userSubscribetime,jdbcType=TIMESTAMP}, #{userNickname,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER}, 
      #{userCountry,jdbcType=VARCHAR}, #{userProvince,jdbcType=VARCHAR}, #{userCity,jdbcType=VARCHAR}, 
      #{userLanguage,jdbcType=VARCHAR}, #{userHeadimgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.litt.nic.pojo.user" >
    insert into nic_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userTelephone != null" >
        user_telephone,
      </if>
      <if test="userDepartment != null" >
        user_department,
      </if>
      <if test="userOpenid != null" >
        user_openid,
      </if>
      <if test="userSubscribe != null" >
        user_subscribe,
      </if>
      <if test="userSubscribetime != null" >
        user_subscribeTime,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userCountry != null" >
        user_country,
      </if>
      <if test="userProvince != null" >
        user_province,
      </if>
      <if test="userCity != null" >
        user_city,
      </if>
      <if test="userLanguage != null" >
        user_language,
      </if>
      <if test="userHeadimgurl != null" >
        user_headImgUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null" >
        #{userTelephone,jdbcType=VARCHAR},
      </if>
      <if test="userDepartment != null" >
        #{userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="userOpenid != null" >
        #{userOpenid,jdbcType=VARCHAR},
      </if>
      <if test="userSubscribe != null" >
        #{userSubscribe,jdbcType=INTEGER},
      </if>
      <if test="userSubscribetime != null" >
        #{userSubscribetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userCountry != null" >
        #{userCountry,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null" >
        #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userLanguage != null" >
        #{userLanguage,jdbcType=VARCHAR},
      </if>
      <if test="userHeadimgurl != null" >
        #{userHeadimgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.litt.nic.pojo.user" >
    update nic_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTelephone != null" >
        user_telephone = #{userTelephone,jdbcType=VARCHAR},
      </if>
      <if test="userDepartment != null" >
        user_department = #{userDepartment,jdbcType=VARCHAR},
      </if>
      <if test="userOpenid != null" >
        user_openid = #{userOpenid,jdbcType=VARCHAR},
      </if>
      <if test="userSubscribe != null" >
        user_subscribe = #{userSubscribe,jdbcType=INTEGER},
      </if>
      <if test="userSubscribetime != null" >
        user_subscribeTime = #{userSubscribetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userCountry != null" >
        user_country = #{userCountry,jdbcType=VARCHAR},
      </if>
      <if test="userProvince != null" >
        user_province = #{userProvince,jdbcType=VARCHAR},
      </if>
      <if test="userCity != null" >
        user_city = #{userCity,jdbcType=VARCHAR},
      </if>
      <if test="userLanguage != null" >
        user_language = #{userLanguage,jdbcType=VARCHAR},
      </if>
      <if test="userHeadimgurl != null" >
        user_headImgUrl = #{userHeadimgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.litt.nic.pojo.user" >
    update nic_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_telephone = #{userTelephone,jdbcType=VARCHAR},
      user_department = #{userDepartment,jdbcType=VARCHAR},
      user_openid = #{userOpenid,jdbcType=VARCHAR},
      user_subscribe = #{userSubscribe,jdbcType=INTEGER},
      user_subscribeTime = #{userSubscribetime,jdbcType=TIMESTAMP},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_country = #{userCountry,jdbcType=VARCHAR},
      user_province = #{userProvince,jdbcType=VARCHAR},
      user_city = #{userCity,jdbcType=VARCHAR},
      user_language = #{userLanguage,jdbcType=VARCHAR},
      user_headImgUrl = #{userHeadimgurl,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>